<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam quasi eveniet iusto in impedit aut sed! Illum repudiandae reprehenderit quibusdam, fuga cupiditate quasi laborum dignissimos doloremque non ea sit?</p>
    </div>
</div>